########    DOMAIN LIST

# Lines who starts with # are ignored


<domain>                     : <account name>|<alwaysdata site name>
example.com                  : myaccount|default

sub.example.com              : extern  # domain with 'extern' site name will not be check by alwaysdata checker

